{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}


<h4>Recent Posts</h4>
{{!--
The blogs function iterates over site pages and returns only the posts
found under /content/blog.
--}}
{{#each (blogs site.pages)}}
<div class="col-md-6">
    <a href="{{uri}}"" style=" color: #212529; text-decoration: none;">
        <div class="cardo shadow-lg" style="display: inline-block;">
            <img src="{{page.head.extra.images}}" class="card__image" alt="brown couch" />
            <div class="card__content">
                {{!--
                `this` refers to the particular post
                --}}
                {{#with this.head}}
                <span class="card__title">{{title}}</span>
                <p class="blog-post-meta card-text">{{#if extra.date}}Published: {{extra.date}}{{/if}}</p>
                {{/with}}
                {{! Since this is HTML, we use the triple-curly }}
                {{{page.body}}}
                {{! Remove the `!` on the line below to see how to call a Rhai script }}
                {{! echo "world" }}
            </div>

        </div>
    </a>
</div>
{{/each}}

<!-- end col -->

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}